<div class="user-details">
  <div class="container">
    <div class="image-wrapper">
      <img src="/assets/img/myphoto.jpg" alt="photo" />
    </div>
    <div class="text-content">
      <h1>About Me</h1>
      <p>{{site.user_description}}</p>
    </div>
  </div>

  <style>

    .container {
      display: flex;
      align-items: center;
    }
    .image-wrapper {
      flex: 1;
      max-width: 40%;
    }
    .image-wrapper img {
      display: block;
      height: 400px;
      width: auto;
      padding-left: 50px;
    }
    .text-content {
      flex: 1;
      padding: 0 20px;
      padding-bottom: 50px;
    }
    a {
      text-decoration-color: rgb(198, 198, 221);
      color: inherit;
      transition: background-color 0.4s;
      padding: 0.8px 0.8px;
      display: inline-block;
    }
    a:hover {
      background-color: rgb(198, 198, 221);
    }
    a:visited {
      color: inherit;
    }

    .minimage {
      display: flex;
      align-items: center;
    }

    .minimage img {
      width: 80px;    /* Set width of each image */
      height: 80px;   /* Set height of each image */
      margin-left: 5px;  /* Optional: Add some space between images */
      margin-right: 5px;  /* Optional: Add some space between images */
    }
    .user > * {
      flex: 1; /* 모든 자식 요소가 동일한 비율로 설정 */
      max-width: 300px; /* 최대 너비 설정 */
      margin: 0px; /* 요소들 사이의 간격 설정 */
    }


    @media only screen and (min-width: 550px) {
      /* 태블릿 이상의 크기일 때 적용될 스타일 */
      .container {
        flex-direction: row; /* 가로 방향으로 요소 배치 */
        align-items: center; /* 요소들을 수직 가운데 정렬 */
      }

      .image-wrapper {
        flex: 1; /* 이미지 영역이 유동적으로 확장될 수 있도록 설정 */
        order: 1; /* 이미지를 가장 먼저 표시 */
      }

      .text-content {
        flex: 1; /* 텍스트 영역이 유동적으로 확장될 수 있도록 설정 */
        order: 2; /* 텍스트를 두 번째로 표시 */
        text-align: left; /* 텍스트를 왼쪽 정렬 */
        padding-left: 20px; /* 왼쪽 여백 추가 */
      }
    }
  </style>
</div>
<div class="user">
  <div class="tech">
    <h2>Station</h2>
    <div class="minimage">
      <img src="/assets/img/목원대.jpg" alt="목원대" />
      <img src="/assets/img/녹음실.jpg" alt="녹음실" />
      <img src="/assets/img/tbn.png" alt="tbn" />
    </div>
    <p>
      저는 목원대학교 방송국 MBS에서 아나운서 부장으로서 3년간 활동하고
      있습니다. TBN 대전 교통방송에서 매주 화요일 4시부터 진행하는 충청매거진의
      MZ퀴즈 방송도 하고있는데요. 저에게 방송국은 제 목소리를 쓸 수 있게 해주는
      감사한 곳입니다.
    </p>
  </div>
  <div class="tech">
    <h2>Movie</h2>
    <div class="minimage">
      <img src="/assets/img/올빼미.jpg" alt="올빼미" />
      <img src="/assets/img/더웹툰.jpg" alt="더웹툰" />
      <img src="/assets/img/보이스.jpg" alt="보이스" />
    </div>
    <p>
      저는 영화보는 것을 정말 좋아해요. 특히 범죄, 스릴러, 공포를 사랑한답니다.
      최근에 봤던 것 중 가장 재미있게 본 영화는 <br />
      <a href="https://www.netflix.com/kr/title/70286278" target="_blank"
        >"더 웹툰 : 예고살인"</a
      >
      입니다. <br />
      넷플릭스에서 방영하니 꼭 한번 보시길 바랍니다!
    </p>
  </div>
  <div class="tech">
    <h2>Music</h2>
    <div class="minimage">
      <img src="/assets/img/블랙핑크.jpg" alt="블랙핑크" />
      <img src="/assets/img/밴슨분.jpg" alt="벤슨분" />
      <img src="/assets/img/용용.jpg" alt="용용" />
    </div>
    <p>
      저는 팝송과 가요 뿐만 아니라 뉴에이지, 클래식, 넘버, EMO 힙합, J-pop, EDM
      등 다양한 음악을 좋아해요. 요즘은 특히 EMO 장르가 더 끌리는 것 같은데요.
      이런 감성락힙합 노래를 몇 개 추천해드리겠습니다! <br />
      <a href="https://youtu.be/WA2AsiAzF4c?si=eXJhNgSYocq15aPm" target="_blank"
        >"Vanilla Sky - 용용"</a
      >
      <br />
      <a href="https://youtu.be/pTUdjna2ObU?si=lnUmRmFTHeLcungj" target="_blank"
        >"어젯밤도 - 이한울"</a
      >
      <br />
      <a href="https://youtu.be/rWbOrlbhens?si=qtNAPpWC6LepUwYg" target="_blank"
        >"계절범죄 - 미로"</a
      >
    </p>
  </div>
</div>
