 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
<style>
  a {
    text-decoration-color: rgb(198, 198, 221);
    color: inherit;
    transition: background-color 0.4s;
    padding: 1px 1px; /* 링크 주변 여백 설정 */
    display: inline-block; 
  }
  a:hover {
    background-color: rgb(198, 198, 221);
  }
  a:visited {
    color: inherit;
  }
</style>
</div>
  <div class="user">
    <div class="tech">
      <h2>Station</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>
        저는 목원대학교 방송국 MBS에서 아나운서 부장으로서 3년간 활동하고 있습니다. 
        TBN 대전 교통방송에서 매주 화요일 4시부터 진행하는 충청매거진의 MZ퀴즈 방송도 하고있는데요. 
        저에게 방송국은 제 목소리를 쓸 수 있게 해주는 감사한 곳입니다.
      </p>
    </div>
    <div class="tech">
      <h2>Movie</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>
        저는 영화보는 것을 정말 좋아해요. 특히 스릴러, 공포를 사랑한답니다. 
        최근에 봤던 것 중 가장 재미있게 본 영화는 <br>
        <a href="https://www.netflix.com/kr/title/70286278" target="_blank">"더 웹툰 : 예고살인"</a> 입니다. <br> 
        넷플릭스에서 방영하니 꼭 한번 보시길 바랍니다! 
      </p>
    </div>
    <div class="tech">
      <h2>Music</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>
        저는 팝송과 가요 뿐만 아니라 뉴에이지, 클래식, 넘버, EMO 힙합, J-pop, EDM 등 다양한 음악을 좋아해요.
        요즘은 특히 EMO 장르가 더 끌리는 것 같은데요. 
        이런 감성락힙합 노래를 몇 개 추천해드리겠습니다! <br>
        <a href="https://youtu.be/WA2AsiAzF4c?si=eXJhNgSYocq15aPm" target="_blank">"Vanilla Sky - 용용"</a> <br>
        <a href="https://youtu.be/pTUdjna2ObU?si=lnUmRmFTHeLcungj" target="_blank">"어젯밤도 - 이한울"</a> <br>
        <a href="https://youtu.be/rWbOrlbhens?si=qtNAPpWC6LepUwYg" target="_blank">"계절범죄 - 미로"</a>
      </p>
    </div>
</div>
