

<style>
  .scr {
    font-size: 12px;
    margin-top: 10px;
  }
  @media only screen and (min-width:550px) {
    .scr{
      font-size: 25px;
      margin-top: 15px;
    }
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="" target="_blank"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://www.instagram.com/ym_seiren?igsh=MWsycnNma210YTZraQ%3D%3D&utm_source=qr"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://velog.io/@byseiren/series" ><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/bySeiren02" ><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="scr">
        Scroll Down For More Information!
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
