

<style>
  .scr {
    font-size: 12px;
    margin-top: 10px;
  }
  @media only screen and (min-width:550px) {
    .scr{
      font-size: 25px;
      margin-top: 15px;
    }
  }

  .header-icons {
    margin-left: 30px;
    margin-right: 30px;
  }

  i {
    font-size: 3em;
    margin: 25px;
    color: white;
  }
  .ho {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
  }
  .ho:hover {
    background-color: #131920ad
  }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a class ="ho" target="_blank" href="https://open.kakao.com/o/soxmS9cc"><i class="fa-solid fa-comment"></i></a>
        <a class ="ho" target="_blank" href="https://www.instagram.com/ym_seiren?igsh=MWsycnNma210YTZraQ%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
        <a class ="ho" target="_blank" href="https://www.youtube.com/channel/UCdPaQUykuxiuMlTMaIjjz8g"><i class="fa-brands fa-youtube"></i></a>
        <a class ="ho" target="_blank" href="https://velog.io/@byseiren/series"><i class="fa-brands fa-vimeo"></i></a>
        <a class ="ho" target="_blank" href="https://github.com/bySeiren02"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="scr">
        Scroll Down For More Information!
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
