<div class="user-details">
  <h1> Seiren's Dubbing Diary </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="suae" src="{{ "/assets/img/suae" | prepend: site.baseurl }}" target="_blank"/>
  </div>
  <div class="contents">
    <h3> 수애</h3>
    <ul>
      <li> 네이버 시리즈 : 재혼황후</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/67kDlmRsr3c?si=fSicWyamJDgC87tH">Click To Youtube</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="sombra" src="{{ "/assets/img/sombra" | prepend: site.baseurl }}" target="_blank"/>
  </div>
  <div class="contents-right">
    <h3> 솜브라</h3>
    <ul>
      <li> 오버워치 단편 애니메이션 : 잠입</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/ozPuW1SfoCo">Click To Youtube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="sage" src="{{ "/assets/img/sage" | prepend: site.baseurl }}" target="_blank"/>
  </div>
  <div class="contents">
    <h3> 세이지</h3>
    <ul>
      <li> 발로란트 시네마틱 : 모두가 함께</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/je9twcajZho?si=gNSD1V2dkT0rcy_9">Click To Youtube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="yezi" src="{{ "/assets/img/yezi" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 서예지</h3>
    <ul>
      <li> 네이버 시리즈 : 하렘의 남자들</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/mN_izu80IGA?si=ksB8F7Q_N6eDW1sX">Click To Youtube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="bronya" src="{{ "/assets/img/bronya" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 브로냐</h3>
    <ul>
      <li> 붕괴3rd 단편 애니메이션 : Cyber Angel: ZERO Exception</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/sL9bDi2rknM?si=DD9YYx1Mx2WhNVmu">Click To Youtube</a>
  </div>
</div>

