<div class="user-details">
  <h1> Seiren's Dubbing Diary </h1>
</div>
<style>
  .images-right {
    margin-top: 35px; 
  }
  .content {
    padding-bottom: 10px;
  }
  h3 {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: -5px;
    padding: 0px;
  }
  .script {
    width: 420px;
    height: 150px;
    overflow: auto;
    background-color: rgb(244, 244, 250);
    border: none;
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0 0 15px rgb(244, 244, 250);
  }
  .script::-webkit-scrollbar {
    display: none;
  }
  .script {
    scrollbar-width: none; /* Firefox */
  }
  .images-right img, .images-right video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .images-right video {
    display: none; /* 초기에는 비디오를 숨김 */
  }

</style>
<div class="user-projects">
  <div class="images-right">
    <img alt="suae" src="/assets/img/suae.jpg" onclick="playVideo()" />
    <video id="video" controls>
        <source src="/assets/video/수애.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>네이버 시리즈 : 재혼황후 - 수애</h3>
    <h4>Script</h4>
    <p class="script">
      제가 변했다고요? <br>
      변한건, 폐하이십니다 <br>
      사과는 되었어요 <br>
      이혼을 받아드리겠습니다.<br>
      그리고, 재혼승인을 요구합니다 <br>
      네이버 시리즈에서 인생작을 말하다 <br>
      네이버 시리즈 <br>
      이거 영화 안 만든대? 
    </p>
    <a class="project-link" href="https://youtu.be/67kDlmRsr3c?si=fSicWyamJDgC87tH" target="_blank">Watch on YouTube</a>
  </div>
  <script>
    function playVideo() {
        var img = document.querySelector('.images-right img');
        var video = document.getElementById('video');
        img.style.display = 'none';
        video.style.display = 'block';
        video.play();
    }
</script>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="sombra" src="/assets/img/sombra.jpg" onclick="playVideo()" />
    <video id="video" controls>
        <source src="/assets/video/솜브라.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3>오버워치 단편 애니메이션 : 잠입 - 솜브라</h3>
    <h4>Script</h4>
    <p class="script">
      솜브라 : 하! 지구에서 가장 철통같은 최첨단 보안 시스템이라더니...<br>
      위도우 : 여유 부릴 시간 없어. 서둘러.<br>
      리퍼 : 그쯤 하지, 위성은 있나?<br>
      솜브라 : 하, 당연하지.<br>
      위도우메이커 : 표적이 현장에 있는 게 확실해?<br>
      솜브라 : 어우, 있다니까! 됐어. 들어가.<br>
      직원들 : 하... 어서 시찰이 끝났으면 좋겠어.<br>
      리퍼 : 문 열어.<br>
      리퍼 : 솜브라!<br>
      솜브라 : (웃음)<br>
      솜브라 : 포탑, 해제.<br>
      위도우 : 자리 잡았어.<br>
      위도우 : Sombra([송브하], 솜브라) 표적 도착 시간은?<br>
      솜브라 : 지금 내려온다.<br>
      직원 : 볼스카야 회장님, 신형 유도 시스템은 지긋지긋한 옴닉을 파괴하는데 결정적인 역할을...<br>
      카티야 볼스카야 : (말을 끊으며)일정은 늦지 않았겠죠. 옴니움이 재차 공격하기 전에 준비를 마쳐야 합니다.<br>
      카티야 : 10년 만에 처음 내놓는 신형 로봇... 이게 러시아의 미래를 지켜줄 겁니다.<br>
      위도우 : 아주 조금만 더...<br>
      직원 : 회장님! 이쪽으로!<br>
      위도우 : Quoi?([콰], 뭐야?) 읏!<br>
      리퍼 : 위도우메이커, 엄호해. 여기부턴 내가 맡는다.<br>
      리퍼 : 솜브라, 여긴 두고 네가 처리해!<br>
      솜브라 : 맡겨만 둬!<br>
      솜브라 : 윽, 달아나잖아!<br>
      직원 : 가시죠, 회장님!<br>
      직원 : 모든 대원들, 통로 쪽이다. 3층이다!<br>
      리퍼 : 솜브라, 상황은?<br>
      솜브라 : 끄윽...! 되는 중이야!<br>
      직원 : 어디로 갔지? 찾아!<br>
      솜브라 : 카티야 볼스카야!<br>
      솜브라 : 하! 이 자리를 마련하려고 어찌나 고생을 했는지.<br>
      직원 : 회장님!! <br>
      솜브라 : Relajate([렐라하떼], 안심해), 죽이진 않을 테니. 사실 경보를 울린 게 바로 나거든.<br>
      리퍼 : 솜브라, 표적을 확보했...<br>
      솜브라 : 자, 들어봐. 나쁜 뜻은 없어. 내가 알아낸 걸 보여주려고.<br>
      솜브라 : 생각해봐. 러시아 사람들이 뭐라고 할까? 옴닉을 막아주는 수호자가, 실은 적에게서 기술을 받고 있었다는 걸 알면? 러시아의 미래는 어떻게 될까?<br>
      볼스카야: 뭘, 원하지?<br>
      솜브라 : 러시아 최고의 권력자, 하! 난 항상 그런 친구가 있었으면 했어. 자 그러니까, 이게 온 세상에
      홀로 비디오에 뜨지 않게 해줄 테니, 넌 새 친구를 가끔 도와주는 거야. 어때? 시간 없어, Amiga([아미가], 친구).<br>
      볼스카야 : 선택의 여지가 없지 않나? 뭘 하면 되지, 친구?<br>
      솜브라 : 연락하지, 뿝!<br>
      솜브라 : 임무 실패야. 표적이 달아났어.<br>
      리퍼 : 흐...함선으로 돌아간다.<br>
      솜브라 : 뿝!<br>
      볼스카야 : 왜 불렀는지 알겠나? <br>
      자리야 : 흠, 알 것 같군요.
    </p>
    <a class="project-link" href="https://youtu.be/ozPuW1SfoCo" target="_blank">Watch on YouTube</a>
  </div> 
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="sage" src="/assets/img/sage.jpg" onclick="playVideo()" />
    <video id="video" controls>
        <source src="/assets/video/세이지.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>발로란트 시네마틱 : 모두가 함께 - 세이지</h3>
    <h4>Script</h4>
    <p class="script">
      세이지 : 이곳은... 여기의 고통이 느껴져. 구원을 간절히 바라고 있어 <br>
      피닉스 : 어... 우리 여기 왜 왔다고?<br>
      바이퍼 : 보고서 좀 보고 오면 어디 덧나?<br>
      피닉스 : 어, 아마도?<br>
      바이퍼 : 베니스 사건이 또 일어나게 둘 순 없어.<br>
      세이지 : 명심해, 저들의 스파이크 설치를 막아야 돼.<br>
      제트 : 아니면... 그냥 다 없애버리든가<br>
      소바 : 놈들이 왔어.<br>
      세이지 : 함께 뭉쳐서, 함께 싸우고, 함께 이기는 거... 피닉스 어디 갔지?<br>
      피닉스 : 곧장 밀고 들어올 거야. 날 믿어, 여기... 아무도 없네?<br>
      세이지 : 놈들을 쫓아내! (던지는 호)<br>
      바이퍼 : 더는 못 막겠어!<br>
      소바 : 밀고 들어온다. 당장 빠져나와!<br>
      바이퍼 : (맞는 호, 고통 호)<br>
      세이지 : 조심해! <br>
      제트 : 후퇴해야겠어.<br>
      세이지 : 그럴 수 없어. 놈들이 스파이크를 터뜨리는 순간 아무것도 남지 않을...<br>
      제트 : 타이밍 죽이네.<br>
      피닉스 : 아 진짜, 계획이 뭐야?<br>
      세이지 : 전부 없애 버리는 거. 지금이야.<br>
      제트, 피닉스 : (뛰어내리는 호)<br>
      제트 : (던지는 호)<br>
      바이퍼 : 스파이크는?<br>
      오멘 : (설치하다 총 맞고 놀라는 호)<br>
      바이퍼 : 이만하면 이겼다고 할 수 있겠지. <br>
      세이지 : 이긴 게 아니야. 이건 시작에 불과해.<br>
      피닉스 : 거 보고서 한번 제대로 봤네.<br>
      오멘 : 무언가 필요해. 판도를 뒤집을 무언가가....
    </p>
    <a class="project-link" href="https://youtu.be/je9twcajZho?si=gNSD1V2dkT0rcy_9" target="_blank">Watch on YouTube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="yezi" src="/assets/img/yezi.jpg" onclick="playVideo()" />
    <video id="video" controls>
        <source src="/assets/video/서예지.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3>네이버 시리즈 : 하렘의 남자들 - 서예지</h3>
    <h4>Script</h4> 
    <p class="script">
      경들의 말이 옳아 <br>
      황가의 안정은, 탄탄한 후계자들에서 오는 법 <br>
      빨리 국서를 맞이하라는 말, 충분히 이해해 <br>
      그래서 우선, 내 후궁들부터 들이기로 하였다. <br>
      시작은, 한 다섯 정도? <br>
      네이버 시리즈에서 인생작을 만나다 <br>
      네이버 시리즈 <br>
      나 이 역할 탐나
    </p>

    <a class="project-link" href="https://youtu.be/mN_izu80IGA?si=ksB8F7Q_N6eDW1sX" target="_blank">Watch on YouTube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="bronya" src="/assets/img/bronya.png" onclick="playVideo()" />
    <video id="video" controls>
        <source src="/assets/video/브로냐.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3>붕괴3rd 단편 애니메이션 : Cyber Angel: ZERO Exception - 브로냐</h3>
    <h4>Script</h4>
    <p class="script">
      브로냐 : (힘든 호) <br>
      브로냐 : 이곳이... 바로 양자의 바다... <br>
      브로냐 : 이치의 율자의 코어가... 바로 이곳에... <br>
      브로냐 : 제레... 브로냐가... 반드시 구해내겠습니다... <br>
      브로냐 : (고통 호) <br>
      브로냐 : 움직일 수 없습니다...<br>
      브로냐 : 코어가... 제어를 벗어나고 있어요...<br>
      브로냐 : 제레...? <br>
      코어 : All Systems Nominal <br>
      브로냐 : ride on (기합!) <br>
      코어 : Change Motor <br>
      코어 : Shift Up, One, Two, Tree<br>
      브로냐 : (기합!) <br>
      코어 : Top Gear <br>
      브로냐 : 제레... 브로냐가 만나러 왔습니다
    </p>
    <a class="project-link" href="https://youtu.be/sL9bDi2rknM?si=DD9YYx1Mx2WhNVmu" target="_blank">Watch on YouTube</a>
  </div>
</div>

