<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <video controls>
      <source src="{{ "/assets/video/수애".mp4" | prepend: site.baseurl }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3> 네이버 웹툰 : 재혼황후 </h3>
    <ul>
      <li> 수애</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/67kDlmRsr3c?si=fSicWyamJDgC87tH">Click To Youtube</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <video controls>
      <source src="{{ "/assets/video/솜브라".mp4" | prepend: site.baseurl }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3> 오버워치 단편 애니메이션 : 잠입</h3>
    <ul>
      <li> 솜브라</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/ozPuW1SfoCo">Click To Youtube</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <video controls>
      <source src="{{ "/assets/video/세이지.mp4" | prepend: site.baseurl }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents">
    <h3> 발로란트 시네마틱 : 모두가 함께 </h3>
    <ul>
      <li> 세이지</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/je9twcajZho?si=gNSD1V2dkT0rcy_9">Click To Youtube</a>
  </div>
</div>
