<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">Personal</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Join</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Team</label>

  <div id="content" class="content-wrapper">
    <div id="video1" class="content-item">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app - [ 세이렌 ] 재혼황후 - 수애 _성우지망생 더빙.mp4" type="video/mp4">
        </video>
        <h2>Video Title 1</h2>
      </div>
      <div class="script">
        <p>Script 1 goes here.</p>
      </div>
    </div>
    
    <div id="video2" class="content-item" style="display: none;">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app-[ 세이렌 ] 오버워치 단편 애니메이션 - 잠입 _ 성우지망생 더빙-(720p60).mp4" type="video/mp4">
        </video>
        <h2>Video Title 2</h2>
      </div>
      <div class="script">
        <p>Script 2 goes here.</p>
      </div>
    </div>
    
    <div id="video3" class="content-item" style="display: none;">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app-【더빙팀 V_L】 발로란트 시네마틱 [모두가 함께] (우리말 더빙)-(720p60).mp4" type="video/mp4">
        </video>
        <h2>Video Title 3</h2>
      </div>
      <div class="script">
        <p>Script 3 goes here.</p>
      </div>
    </div>
  </div>
  
  <script src="/_js/script.js"></script>
</div>
