<h1 class="title">{{site.skills_title}}</h1>
<style>
  #skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 0.2rem;
      transition: opacity 0.5s;
    }

    .filter-button {
      margin-right: 10px;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .content-wrapper {
      display: flex;
    }
    
    .video-info {
      margin-bottom: 20px;
    }

    .video-info h2 {
      margin-top: 0;
    }

    .video-info video {
      width: 45%;
      height: auto;
    }

    .script {
      border-left: 1px solid #ccc;
      padding-left: 20px;
    }
  }
</style>

<div id="skills">
  <div id="filter-buttons">
    <div class="filter-button active" data-target="video1">Personal</div>
    <div class="filter-button" data-target="video2">Join</div>
    <div class="filter-button" data-target="video3">Team</div>
  </div>

  <div id="content" class="content-wrapper">
    <div id="video1" class="content-item">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app - [ 세이렌 ] 재혼황후 - 수애 _성우지망생 더빙.mp4" type="video/mp4">
        </video>
        <h2>재혼황후 - 수애</h2>
      </div>
      <div class="script">
        <p>Script 1 goes here.</p>
      </div>
    </div>

    <div id="video2" class="content-item" style="display: none;">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app-[ 세이렌 ] 오버워치 단편 애니메이션 - 잠입 _ 성우지망생 더빙-(720p60).mp4" type="video/mp4">
        </video>
        <h2>오버워치 단편 애니메이션 : 잠입 - 솜브라</h2>
      </div>
      <div class="script">
        <p>Script 2 goes here.</p>
      </div>
    </div>

    <div id="video3" class="content-item" style="display: none;">
      <div class="video-info">
        <video controls>
          <source src="/assets/video/Y2meta.app-【더빙팀 V_L】 발로란트 시네마틱 [모두가 함께] (우리말 더빙)-(720p60).mp4" type="video/mp4">
        </video>
        <h2>발로란트 시네마틱 : 모두가 함께 - 세이지</h2>
      </div>
      <div class="script">
        <p>Script 3 goes here.</p>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      var filterButtons = document.querySelectorAll(".filter-button");
      filterButtons.forEach(function(button) {
        button.addEventListener("click", function() {
          filterButtons.forEach(function(btn) {
            btn.classList.remove("active");
          });
          button.classList.add("active");
          var target = button.getAttribute("data-target");
          showContent(target);
        });
      });

      function showContent(contentId) {
        var allContent = document.querySelectorAll(".content-item");
        allContent.forEach(function(content) {
          content.classList.remove("active");
        });
        var selectedContent = document.getElementById(contentId);
        if (selectedContent) {
          selectedContent.classList.add("active");
        }
      }
    });
  </script>
