#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 5px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}


@media only screen and (min-width: $cut) {
  /* 태블릿 이상의 크기일 때 적용될 스타일 */
  .container {
    flex-direction: row; /* 가로 방향으로 요소 배치 */
    align-items: center; /* 요소들을 수직 가운데 정렬 */
  }

  .image-wrapper {
    flex: 1; /* 이미지 영역이 유동적으로 확장될 수 있도록 설정 */
    order: 1; /* 이미지를 가장 먼저 표시 */
  }

  .text-content {
    flex: 1; /* 텍스트 영역이 유동적으로 확장될 수 있도록 설정 */
    order: 2; /* 텍스트를 두 번째로 표시 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    padding-left: 20px; /* 왼쪽 여백 추가 */
  }
}

