#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 5px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user > * {
  flex: 1; /* 모든 자식 요소가 동일한 비율로 설정 */
  max-width: 200px; /* 최대 너비 설정 */
  margin: 10px; /* 요소들 사이의 간격 설정 */
}

.user-details {
  text-align: center;
  margin: 5px auto;
}


